@import "tailwindcss";


@font-face {
    font-family: Pixelcastle;
    font-style: normal;
    src: url("../assets/fonts/Pixelcastle.woff2") format("woff2");
}

@theme {

    /* FONTS */
    --font-logo: "Pixelcastle", system-ui;
    --font-title: 'Jersey 15', system-ui;
    --font-text: 'JetBrains Mono Variable', monospace;
    --font-link: "Pixelcastle", system-ui;

    /* COLORS */
    --color-light: #EFE9E3;
    --color-dark: #212121;
    --color-accent: #D0DDD0;

    /* TEXT SIZES */
    --text-80: 5rem;
    --text-72: 4.5rem;
    --text-64: 4rem;
    --text-56: 3.5rem;
    --text-48: 3rem;
    --text-40: 2.5rem;
    --text-32: 2rem;
    --text-24: 1.5rem;
    --text-20: 1.25rem;
    --text-16: 1rem;
    --text-12: 0.75rem;

    /* BREAKPOINTS */
    --breakpoint-xsm: 320px;
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1200px;
    --breakpoint-xl: 1440px;
}
