.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
    font-family: var(--font-title);
    color: var(--color-dark);
    letter-spacing: -0.025em;
    line-height: 1;
}

.markdown-content p, .markdown-content ul {
    font-family: var(--font-text);
    color: var(--color-dark);
    line-height: 200%;
}

.markdown-content ul {
  list-style: disc;
}

.markdown-content h1 { font-size: var(--text-80); }
.markdown-content h2 { font-size: var(--text-72); }
.markdown-content h3 { font-size: var(--text-64); }
.markdown-content h4 { font-size: var(--text-56); }
.markdown-content h5 { font-size: var(--text-48); }
.markdown-content h6 { font-size: var(--text-40); }

@media (min-width: 768px) {
  .markdown-content h1 { font-size: var(--text-80); }
  .markdown-content h2 { font-size: var(--text-72); }
  .markdown-content h3 { font-size: var(--text-64); }
  .markdown-content h4 { font-size: var(--text-56); }
  .markdown-content h5 { font-size: var(--text-48); }
  .markdown-content h6 { font-size: var(--text-40); }
}

@media (min-width: 1200px) {
  .markdown-content h1 { font-size: var(--text-80); }
  .markdown-content h2 { font-size: var(--text-72); }
  .markdown-content h3 { font-size: var(--text-64); }
  .markdown-content h4 { font-size: var(--text-56); }
  .markdown-content h5 { font-size: var(--text-48); }
  .markdown-content h6 { font-size: var(--text-40); }
}