---
// layout
import Layout from "../layouts/Main.astro";

// components
import Container from "../components/elements/Container.astro";
import AboutText from "../components/sections/about/AboutText.astro";
import AboutLinks from "../components/sections/about/AboutLinks.astro";

---

<Layout pageTitle = "About">
    <Container>
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-8 items-start">
            <AboutText />
            <AboutLinks />
        </div>
    </Container>
</Layout>