---
import Layout from "../layouts/Main.astro"

// components
import Heading from "../components/elements/Heading.astro"
import Container from "../components/elements/Container.astro"
import Text from "../components/elements/Text.astro"
import ArtGallery from "../components/sections/art/ArtGallery.astro";
---

<Layout pageTitle="Art">
    <Container class="flex flex-col items-center gap-16">
        <div class="text-center max-w-[900px]">
            <Heading tagName="h1" tagSize="h1">Art</Heading>
            <Text variant={'sm'}>I started learning how to draw and paint in 2024 after spending all my life believing I just didn't have the talent and couldn't learn. I'm not an amazing artist yet by any means but it's amazing how much is possible to do by learning fundamentals and just practice. Lately I haven't had as much time to practice as I had when I started, but it's one of my favorite hobbies now. This is a collection of digital oil paintings I've created using Krita.</Text>    
        </div>
        <ArtGallery />
    </Container>
</Layout>