---
import Layout from "../layouts/Layout.astro"
import SocialLinks from "../components/SocialLinks.astro"
import Link from "../components/Link.astro"
---

<Layout title="Contact" heading="Where you can find me 🔎">
    <h2>Work related:</h2>
    <SocialLinks />
    <h2>Fun places where I hang out sometimes:</h2>
    <ul>
        <li><Link href="https://letterboxd.com/lilygladstone" text="Letterboxd" variant="newWindow" /></li>
        <li><Link href="https://app.thestorygraph.com/profile/jess_readingjournal" text="Storygraph" variant="newWindow" /></li>
        <li><Link href="https://backloggd.com/u/moonpresence/" text="Backloggd" variant="newWindow" /></li>
    </ul>
</Layout>

