---
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
//Sort projects from latest to oldest based on their id (id: 1 - oldest)
projects.sort(
    (a,b) => b.data.id - a.data.id
)
---

<section class="projects-list">
    <ul>
        {projects.map(({data}) => (
            <li>
                <p><a target="_blank" rel="noopener noreferrer" href={data.href}>{data.title}</a></h3>
                <p>{data.description}</p>
            </li>
        ))}
    </ul>
</section>

<style>
    ul, li {
        display: flex;
        flex-direction: column;
    }

    ul {
        gap: 24px;
    }

    li {
        gap: 8px;
    }
</style>