---
import '../styles/global.css';
---

<footer>
  <div class="footer-container">
    <div class="copyright">
      <p class="footer-text">Made by <a href="https://jessgaspar.dev" class="text-link">Jess Gaspar</a> © 2025</p>
    </div>
  </div>
</footer>

<style>
  .copyright {
    border-top: 1px solid var(--accent-color);
    padding: 2rem 0;
    text-align: center;
  }

  .footer-text {
    font-size: 1rem;
  }
</style>