---
interface Props {
    href: string;
    text: string;
    variant?: "normal" | "newWindow";
}

const { href, text, variant = "normal" } = Astro.props;
const newWindow = variant === "newWindow";
---

<a href={href} {...(newWindow && { target: "_blank", rel: "noopener noreferrer" })}>{text}</a>