---
import Link from "./Link.astro"
---

<ul>
	<li><Link href="https://twitter.com/jessgdev" text="Twitter" variant="newWindow"/>
	<li><Link href="https://github.com/jessgaspardev" text="Github" variant="newWindow" /></li>
	<li><Link href="https://instagram.com/jessgaspardev" text="Instagram" variant="newWindow" /></li>
	<li><Link href="mailto:jessgaspardev@gmail.com" text="Email" /></li>
</ul>

