---
import BlogCard from "../elements/BlogCard.astro";

// content collections
import { getCollection } from "astro:content";

const blog = await getCollection("blog");

type Props = {
    limit?: number;
}

const sortedBlog = blog.sort((a, b) => 
  new Date(b.data.publishedDate).getTime() - new Date(a.data.publishedDate).getTime()
);

const { limit } = Astro.props;
---
<section>
    { limit ?
        sortedBlog.slice(0,limit).map((post) => (
            <BlogCard post={post} />
        ))
        :
        sortedBlog.map((post) => (
            <BlogCard post={post} />
        ))
    }
</section>
