---
// components
import { Image } from "astro:assets";
import Text from "./Text.astro";

// props
const {href, title, img, description} = Astro.props;
---
<div class="p-4 bg-none group">
    <a href=`${href}` class="flex flex-col items-center gap-4 ">
        <Image src={img} alt="" width={200} height={200} />
        <div class="text-center">
            <span class="font-link text-24 text-dark">{title}</span>
            <Text variant={'sm'} class="group-hover:bg-accent group-hover:underline">{description}</Text>
        </div>
    </a>
</div>