---
import { Image } from "astro:assets";

const {src, alt, href} = Astro.props;
---

<a href={href} target="_blank" rel="noopener noreferrer" class="bg-none hover:bg-accent rounded p-2">
  <Image src={src} alt={alt} width={40} height="40" />  
</a>
