---
import "../styles/global.css";
import Head from "../layouts/Head.astro"
import Navigation from "../layouts/Navigation.astro";
import Footer from "../layouts/Footer.astro";

const { heading } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head {...Astro.props} />
	<body>
		<div class="container">
			<Navigation />
			<h1>{heading}</h1>
			<main>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>

<style>
	html,
	body {
		width: 100%;
		font-family: "IBM Plex Mono", monospace;
		background-color: var(--background-color);
	}

	main {
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-bottom: 72px;
	}

	.container {
		position: relative;
		max-width: 900px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 24px;
		min-height: 100vh;
		padding: 0 16px;
	}

	h1 {
		font-size: 24px;
	}
</style>
